* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 10px;
	background: #000;
	color: green;
}
/*contenido tablas*/
 {
	text-align: center;
}
#table {
	margin: auto;
	border: 10px double red;
	padding: 12px;
	width: 620px;
}
#table ol {
	margin-left: 50px;
	text-align:left;
}
#table li {
	margin-left: 5px;
	text-align: left;
}
#table li li {
	margin-left: 20px;
	text-align: left;
}
#table a {
	text-decoration: none;
	}
/*paguina de html*/
#base {
	margin: 50px; 
	padding: 50px; 
	text-align: left;
	word-spacing: 1px;
}
/*texarea*/
#js1 {
	background: #999; 
	width:600px; 
	height:40px;
}
#js2 {
	background: #999; 
	width:600px; 
	height:50px;
}
#js3 {
	background: #999; 
	width:600px; 
	height:90px;
}
#js4 {
	background: #999; 
	width:50%; 
	height:50%;
}
#js5 {
	background: #999; 
	width:500px; 
	height:190px;
}
#js6 {
	background: #999; 
	width:500px; 
	height:260px;
}
#js7 {
	background: #999; 
	width:600px; 
	height:400px;
}
#js8 {
	background: #999; 
	width:600px; 
	height:450px;
}
#js9 {
	background: #999; 
	width:600px; 
	height:550px;
}
#js10 {
	background: #999; 
	width:650px; 
	height:630px;
}
.script {
	color:red;
	background: #ccc1dd;
}
.script h1 {
	color: red;
}
.script b {
	color: red;
}
h1, b {
	color: #1dd9ff;
}
h2 {
	color: #acd;
}
h4 {
	color: red;
}
img {
	padding: 25px;
}
p {
	text-indent: 3em;
}
/*tabla de contenido*/
table, td, caption {
	text-align: left;
	border:4px ridge #0978;
}
.solo {
	width: 100px; 
}